@model HumanResources.Models.AbsenceAllView

@{
    ViewData["Title"] = "Cancel";
}

<div>
    <hr />
    <form asp-action="Cancel">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.FirstName</h5>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.LastName</h5>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfAbsence)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.TypeOfAbsence</h5>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.StartDate</h5>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.EndDate</h5>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            <h5>@Model.Reason</h5>
        </dd>
    </dl>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Calcel" class="btn btn-danger" /> |
        <a asp-action="GetAllAbsences">Back to List</a>
    </form>
</div>

